# dependencies
node_modules/

# build output
dist/
build/
out/
*.tsbuildinfo

# Fabric generated crypto material and artefacts
organizations/peerOrganizations/
organizations/ordererOrganizations/
channel-artifacts/
system-genesis-block/
wallet/
bin/
config/
*.tar.gz
network/identities/

# go
vendor/

# secrets
.env
.env.*

# test / coverage
.nyc_output/
coverage/

# editor / os
.DS_Store
.idea/
.vscode/
